name: PHP Linting
on: pull_request
jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - name: "laravel-pint"
          uses: aglipanci/laravel-pint-action@2.0.0
          with:
            preset: laravel
            pintVersion: 1.8.0
            verboseMode: true
            testMode: true
            # configPath: "vendor/my-company/coding-style/pint.json"
